body{
  font-family:'Open Sans Light', sans-serif;
  background: black; 
  color: white;
  font-weight: lighter;
  margin-left:0;
  margin-right:0;
  height:100%;
} 


.stories-wrapper{
  display:flex;
  flex-wrap:wrap;
  padding-top:1rem;
}

/* Loading gif on story select */
.loader{
  display:none;
  width:45px;
  margin:0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    width:100%;
  }
} 

.stories {  
  display:flex;
  flex-wrap:wrap;
  height:auto;
  padding-left:0;
  li {
  flex: 1 1 100%;
  max-width:100%;
  height:450px;
  list-style: none;
  align-items: center;
  position: relative;
    a { 
    color:white;
    margin-top:0;
     }
    .articlePic {
    display:column;
    width: 100vw;
    height: 450px;
    background-size:cover;
    background-position:50%;
    }
    p{
      height:0;
      position: absolute;
      padding-top:0;
      padding-bottom:0;
      margin-bottom:0;
      bottom:0;
      background-color: rgba(0, 0, 0, 0.6);
      font-size:17px;
      line-height: 1.5rem;
      p.text{
       color:white; 
      }
    }
 }
}
.stories{
  li{
    a:hover{
      p{
        height:35%;
        transition: height 1s;
      }
    }
  }
}

@media screen and (min-width : 600px){
 
  .stories{ 
  li{
   flex: 1 1 50%;
   max-width:50%;
    .articlePic{
    width:50vw;
     }
   }
 }
}
@media screen and (min-width : 1000px){

  .stories{
    li{
      flex: 1 1 25%;
    .articlePic{
      width:25vw;
      }
    }
  }
}