/* Header */
.header{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* logo picture */
.logo{
padding-top:3.5rem;
}


/* selection-form */
form{
  display:flex;
  justify-content: center;
}


/* Choose a section */
.section-text{
  display:flex;
  justify-content: center;
  color:white;
  font-size:14px;
}

/* selection box */
.selections{
  height:1.5rem;
  width:8rem;
  font-size:18px;
}